---
import { getCollection, getEntry } from 'astro:content';

import type { CollectionEntry } from 'astro:content';
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import BaseLayout from '@layouts/BaseLayout.astro';
import BlogLayout from '@layouts/BlogLayout.astro';
import Post from '@components/blog/Post.astro';

          
export const getStaticPaths = (async () => {
  const blogEntries: CollectionEntry<'blog'>[]  = await getCollection('blog');
  return blogEntries.map(post => ({
      params: { slug: post.slug }, props: { post },
  }));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { post }: any = Astro.props;
const pageTitle: string = post.data.titulo;
---
<BaseLayout pageTitle= { pageTitle } wrapperClass='wrapper-7030 blog-post'>

    <BlogLayout>
        <Post post= { post } />
    </BlogLayout>
</BaseLayout>