---
import { getCollection } from "astro:content";

import type { CollectionEntry } from "astro:content";
import type { Page,GetStaticPaths } from "astro";

import BaseLayout from '@layouts/BaseLayout.astro';
import BlogLayout from "@layouts/BlogLayout.astro";
import PostMini from '@components/blog/PostMini.astro';
import Pagination from '@components/base/Pagination.astro';

export const getStaticPaths = (async ( {paginate}: any) => {
    const maxEntries: number = 5;
    /* Obtiene una coleccion con todos sus posts */
    const allPosts: CollectionEntry<'blog'>[] = await getCollection('blog');
    /* Ordena los post de más reciente a mas antiguo */
    const orderedPosts: CollectionEntry<'blog'>[] = allPosts.sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()).reverse(); 
    /* pasa los posts a la paginación que nos devuelve un objeto page para usar en el template */
    return paginate(orderedPosts, {
        /* Delimitamos el número de artículos por página */
        pageSize: maxEntries,
    });
}) satisfies GetStaticPaths;


export interface Props {
    page: Page,
    pageTitle: string,
    firstPath: string
}

const { page } = Astro.props;
const firstPath = "/blog";
---
<BaseLayout 
    pageTitle="Blog"
    wrapperClass="wrapper-7030 blog-loop">
    <BlogLayout>  
        <h1 class="sr-only">Todas las entradas del blog</h1>

    
        { page.data.map((post: any) => 
            <PostMini post = { post } />
            )
        }

        <Pagination 
            length={page.lastPage} 
            currentUrl={page.url.current} 
            currentPage={page.currentPage} 
            firstUrl={`${firstPath}`} 
            prevUrl={page.url.prev} 
            nextUrl={page.url.next} 
            lastUrl={`${firstPath}/${page.lastPage}`}
        />
    </BlogLayout>

</BaseLayout>