/* saira-latin-wght-normal */
@font-face {
    font-family: 'Saira Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/saira:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }


/* Media querys para el theme */

@media (prefers-color-scheme: dark) { 
    :root {
        --background-color: #222;
        --background-accent: #181818;
        --background-accent-dark: #111;
        --color: #fff;
        --color-alt: #999;
        --accent: /*#a77fec;*/ #00ADB5;
        --accent-alt: /*#B1EA4F;*/ #f33363;
        --rss-orange: #f17645;
        --mastodon-blue: #858AFA;
        --icon-styleswitcher: url(/img/sun-white.svg);
        --icon-styleswitcher-hover: url(/img/sun-yellow.svg);
        --rss-icon: url(/img/rss-white.svg);
        --rss-icon-h: url(/img/rss-white.svg);
        --mastodon-icon: url(/img/masto-icon-white.svg);
        --pubdate-icon: url(/img/calendar-white.svg);
        --reading-time-icon: url(/img/file-clock-white.svg);
        --cat-mini-icon: url(/img/folder-tree-white.svg);
        --readmore-icon: url(/img/square-arrow-right-purple.svg);
        --primera-pagina-icon: url(/img/skip-back-purple.svg);
        --anterior-icon: url(/img/step-back-purple.svg);
        --siguiente-icon: url(/img/step-forward-purple.svg);
        --ultima-pagina-icon: url(/img/skip-forward-purple.svg);
        --cat-icon-general: url(/img/hand-metal-white.svg);
        --cat-icon-aplicaciones: url(/img/app-window-white.svg);
        --cat-icon-desarrollo: url(/img/code-white16.svg);
        --cat-icon-selfhost: url(/img/server-white.svg);
        --cat-icon-servicios: url(/img/cloud-white.svg); 
        --cat-icon-general-big: url(/img/hand-metal-white-big.svg);
        --cat-icon-aplicaciones-big: url(/img/app-window-white-big.svg);
        --cat-icon-desarrollo-big: url(/img/code-white-big.svg);
        --cat-icon-selfhost-big: url(/img/server-white-big.svg);
        --cat-icon-servicios-big: url(/img/cloud-white-big.svg);     
    }

    :root .light {
        --background-color: #fff;
        --background-accent: /*#ebe8e8;*/ #dadada;
        --background-accent-dark: #bebcbc;
        --color: #111;
        --color-alt: #555;
        --accent:#01658d;
        --accent-alt: #d80338;
        --rss-orange: #bd3601;
        --mastodon-blue: #2F0C7A;
        --icon-styleswitcher: url(/img/moon-star-black.svg);
        --icon-styleswitcher-hover: url(/img/moon-star-blue.svg);
        --rss-icon: url(/img/rss-black.svg);
        --rss-icon-h: url(/img/rss-black.svg);
        --mastodon-icon: url(/img/masto-icon-black.svg);
        --pubdate-icon: url(/img/calendar-black.svg);
        --reading-time-icon: url(/img/file-clock-black.svg);
        --cat-mini-icon: url(/img/folder-tree-black.svg);
        --readmore-icon: url(/img/square-arrow-right-purple.svg);
        --primera-pagina-icon: url(/img/skip-back-purple.svg);
        --anterior-icon: url(/img/step-back-purple.svg);
        --siguiente-icon: url(/img/step-forward-purple.svg);
        --ultima-pagina-icon: url(/img/skip-forward-purple.svg);
        --cat-icon-general: url(/img/hand-metal-black.svg);
        --cat-icon-aplicaciones: url(/img/app-window-black.svg);
        --cat-icon-desarrollo: url(/img/code-black.svg);
        --cat-icon-selfhost: url(/img/server-black.svg);
        --cat-icon-servicios: url(/img/cloud-black.svg);
        --cat-icon-general-big: url(/img/hand-metal-black-big.svg);
        --cat-icon-aplicaciones-big: url(/img/app-window-black-big.svg);
        --cat-icon-desarrollo-big: url(/img/code-black-big.svg);
        --cat-icon-selfhost-big: url(/img/server-black-big.svg);
        --cat-icon-servicios-big: url(/img/cloud-black-big.svg);    
    }
}
@media (prefers-color-scheme: light) { 
    :root .light {
        --background-color: #fff;
        --background-accent: /*#ebe8e8;*/ #f0f0f0;
        --background-accent-dark: #c0c0c0;
        --color: #111;
        --color-alt: #555;
        --accent:#0479a7;
        --accent-alt: #d80338;
        --rss-orange: #bd3601;
        --rss-icon: url(/img/rss-black.svg);
        --rss-icon-h: url(/img/rss-orange-alt.svg);
    }
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
    background-color: var(--background-color);
    color: var(--color);
    padding: 0 2vw;
}

h1, h2, h3, h4, h5, h6, .logo, .main-nav {
    font-family: 'Saira Variable', system-ui;

}

h1 {
    margin-bottom: 2rem;
}

article h1 { 
    color: var(--accent-alt);
}


a:link, a:visited {
    color: var(--accent);
    font-weight: bold;
}

    a:hover, a:active, a:focus {
        color: var(--accent-alt);
    }

h1 span, h2 span, strong, em {
    color: var(--accent-alt);
}

/* 
* ##SKIPLINKS##
* Skip navigation link: https://www.w3schools.com/accessibility/accessibility_skip_links.php 
*/

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

    .skip:focus {
        position: static;
        width: auto;
        height: auto;
        padding: .5rem;
    }

/*
* Style switcher
*/

.btn-toggle {
    background: var(--icon-styleswitcher) no-repeat center left;
    border: 0;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 3vh;
    right: 5vw;
}

.btn-toggle:hover {
    background: var(--icon-styleswitcher-hover) no-repeat center left;
    border: 0;
    width: 24px;
    height: 24px;
}

/*****************************************
* HEADER
*****************************************/

.main-header {
    padding: 4rem 0 4rem 0;
}

    a.logo {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
    }

    a.logo span {
        color: var(--accent-alt);
    }

/* Main nav */

.main-nav, .main-nav ul {
    margin: 0;
    padding: 0;
}

.main-nav ul {
    display: flex;
    justify-content: flex-end;
    padding: .7rem 0;
}

.main-nav ul li {
    list-style: none;
    padding: 0 .5rem;
}

    .main-nav ul {
        display: flex;
    }

        .main-nav li {
            list-style: none;
            font-weight: bold;

        }

    a.logo, .main-nav a {
        color: var(--color);
        text-decoration: none;
        opacity: .6;
        transition: opacity 500ms ease-in-out;
    }

        a.logo:hover, a.logo:active, a.logo:focus, 
        .main-nav a:hover, .main-nav a:active, .main-nav a:focus {
            opacity: 1;
            text-decoration: underline;
        }

.lucide {
    stroke: var(--color);
    vertical-align: bottom;
}

/*****************************************************
* BLOG
*****************************************************/

/* 
* BLOG POST
*/

.post-meta {
    padding: 1em 0;
}

.dt-published, .tiempo-lectura {
    font-size: .9rem; 
    padding-left: 26px;
    padding-right: .5rem;
}

.dt-published {
    background: var(--pubdate-icon) no-repeat center left;
    /* border-right: 1px solid; */
}

.tiempo-lectura {
    background: var(--reading-time-icon) no-repeat center left;
}

.cat {
    display: inline-block;
    font-size: .9rem;
    padding-left: 46px;
    text-transform: capitalize;
    padding-right: 1rem;
} 

a.seguir-leyendo:link, a.seguir-leyendo:visited {
    background: var(--background-accent) var(--readmore-icon) no-repeat 95% 50%;
    color: var(--accent-alt);
    padding-right: 40px;
    display: block;
    font-family: 'Saira Variable', system-ui;
    padding: .5rem;
    /*transition: background-color 500ms ease-in;*/
    text-decoration: none;
    width: 10rem;
    margin-left: auto;margin-right: 0;
}

    a.seguir-leyendo:hover, a.seguir-leyendo:active, a.seguir-leyendo:hover {
        background-color: var(--background-accent-dark);
        text-decoration: underline;
        color: var(--accent-alt);
    }

article {
    padding: .5rem 1rem;
}

article p {
    line-height: 2rem;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

article img {
    width: 75%;
    height: 75%;
    display: block;
    margin: 1rem auto;
}

article li {
    line-height: 2rem;
    font-size: 1.1rem;
}

article code {
    font-size: .9rem;
    background-color: var(--background-accent-dark);
}

article table {
    width: 90%;
    margin: 1rem auto;
}

article table, article th, article td {
    border: 1px solid var(--background-accent-dark);
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

article th {
    background-color: var(--background-accent-dark);
}

article tr:nth-child(even) {
    background-color: var(--background-accent);
}

article a:link, article a:visited {
    transition: color 500ms ease-in;
}

/* POSTS CONDENSED */

ul.condensed {
    padding: 0;
}
    ul.condensed li {
        list-style: none;
    }

    .condensed a:link, .condensed a:visited {
        display: block;
        text-decoration: none;
        padding: .5rem 1rem;
        line-height: 1.5rem;
        color: var(--color);
        opacity: .5;
        transition: opacity, color, background-color 500ms ease-in;
    }
    
        .condensed a:hover, .condensed a:active, .condensed a:focus {
            text-decoration: underline;
            background-color: #111;    
            opacity: 1;
        }

    .condensed .dt-published {
        border: 0;
    }



/* LITE */

.post-lite h3 {
    font-size: 1.5rem;
}

/* MINI */

.post-mini {
    margin-bottom: 2rem;
}

/***************************************************
* PAGINACION
***************************************************/

nav.pagination {
    margin: 5rem 0;
}

nav.pagination ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
    nav.pagination ul li {
        list-style: none;
        padding: .5rem;
    }

    .pagination a:link, .pagination a:visited {
        font-size: .9em;
        font-weight: bold;
        padding: 0.4em;
        display: block;
        text-decoration: none;
        width: 25px;
        height: 25px;
        background-color: var(--background-accent);
        text-align: center;
        transition: background-color 500ms ease-in;
    }

        .pagination a:hover, .pagination a:active, .pagination a:focus {
            background-color: var(--background-accent-dark);
        }

    .primera-pagina {
        background: var(--primera-pagina-icon) no-repeat 50% 50%;
    }

   .anterior {
        background: var(--anterior-icon) no-repeat 50% 50%;
    }

    .siguiente {
        background: var(--siguiente-icon) no-repeat 50% 50%;
    }

    .ultima-pagina:link, .ultima-pagina:visited {
        background: var(--ultima-pagina-icon) no-repeat 50% 50%;
    }

    a.disabled:link, a.disabled:visited {
        color: var(--color);
        font-weight: bold;
        text-decoration: none;
        background-color: var(--background-color);
    }
/* 
* Sidebar 
*/

.sidebar section {
    margin-bottom: 2rem;
}

.sidebar h3 {
    margin-bottom: 1rem;
}

/*
Bloque de suscripción
.suscribe { }
*/

a.rss-link:link, a.rss-link:visited,
a.mastodon-link:link, a.mastodon-link:visited  {
    display: block;
    font-family: 'Saira Variable', system-ui;
    padding: .5rem;
    padding-left: 55px;
    /*transition: background-color 500ms ease-in;*/
    text-decoration: none;
}

a.rss-link:link, a.rss-link:visited {
    background: var(--background-accent) var(--rss-icon-h) no-repeat 20px 50%;
    color: var(--color);
}

a.mastodon-link:link, a.mastodon-link:visited {
    background: var(--background-accent) var(--mastodon-icon) no-repeat 20px 50%;
    color: var(--color);
}

    a.rss-link:hover, a.rss-link:active, a.rss-link:focus,
    a.mastodon-link:hover, a.mastodon-link:active, a.mastodon-link:focus {
        /*background: var(--rss-icon-h) no-repeat center left;
        color: var(--orange);*/
        background-color: var(--background-accent-dark);
        text-decoration: underline;
    }

/* Bloque categorías
.categorias { }
*/

.categorias ul {
    padding: 0;
}

    .categorias ul li { 
        list-style: none; 
        padding: 0;
        margin-bottom: .5rem;
    }

/* Enlaces categorias */

.categorias a:link, .categorias a:visited {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    padding: .5rem;
    padding-left: 55px;
    color: var(--color);
    opacity: .6;
    transition: opacity 500ms ease-in-out;
}

    .categorias a:hover, .categorias a:active, .categorias a:focus {
        text-decoration: underline;   
        color: var(--color);
        opacity: 1;
    }

    a.cat-big-general {
        background: var(--cat-icon-general-big) no-repeat 20px 50%;
    }

    a.cat-big-aplicaciones {
        background: var(--cat-icon-aplicaciones-big) no-repeat 20px 50%;
    }

    a.cat-big-desarrollo {
        background: var(--cat-icon-desarrollo-big) no-repeat 20px 50%;
    }

    a.cat-big-self-host {
        background: var(--cat-icon-selfhost-big) no-repeat 20px 50%;
    }

    a.cat-big-servicios {
        background: var(--cat-icon-servicios-big) no-repeat 20px 50%;
    }

    a.cat-general {
        background: var(--cat-icon-general) no-repeat 20px 50%;
    }

    a.cat-aplicaciones {
        background: var(--cat-icon-aplicaciones) no-repeat 20px 50%;
    }

    a.cat-desarrollo {
        background: var(--cat-icon-desarrollo) no-repeat 20px 50%;
    }

    a.cat-self-host {
        background: var(--cat-icon-selfhost) no-repeat 20px 50%;
    }

    a.cat-servicios {
        background: var(--cat-icon-servicios) no-repeat 20px 50%;
    }


    /* Archivo categorias */


/********************************************
* Página categoria
********************************************/

.categorias-h1 {
    text-transform: capitalize;
}

/*******************************************
* Archivo categorias
*******************************************/

.archivo-categorias dt {
    margin-bottom: .5rem;
}
    .archivo-categorias dt a {
        font-size: 1.1rem;
    }

.archivo-categorias dd {
    margin-bottom: 1.5rem;
    padding: 1rem;
}

.categorias-page a:link, .categorias-page a:visited {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    padding: .25rem;
    padding-left: 55px;
}

    .categorias-page a:hover, .categorias-page a:active, .categorias-page a:focus {
        text-decoration: underline;   
    }


/*******************************************
* TAGS
*******************************************/

/* # Sidebar tags # .tags-blog { } */

.tags-list {
    padding: 0;
}

.tags-list li {
    list-style: none;
    display: inline;
}

a.tag:link, a.tag:visited {
    display: inline-block;
    padding: .75rem;
    background-color: var(--background-accent);
    text-decoration: none;
    margin-left: .5rem;
    margin-bottom: .5rem;
    /*transition: background-color 500ms ease-in;*/
}

    a.tag:hover, a.tag:active, a.tag:focus {
        background-color: var(--background-accent-dark);
    }

        a.tag span {
            color: var(--color);
            font-size: .7rem;
            background-color: var(--background-accent-dark);
            padding: .5rem;
            border-radius: 1rem;
        }

        a.tag:hover span, a.tag:active span, a.tag:focus span {
            background-color: var(--background-accent);
        }

/******************************************
* HOME
******************************************/

.presentacion {
    font-size: 1.6rem;
    color: var(--color-alt);
}

.home aside article {
    font-size: .9rem;
}

/*******************************************
* FOOTER
******************************************/

footer {
    margin-top: 3rem;
    color: var(--color-alt);
}

.pelos, footer p {
    font-size: .9rem;
    line-height: 1.5rem;
    text-align: center;
}

    .pelos img {
        vertical-align: middle;
    }

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

body {
    padding: 0 9vw;
}

.main-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;

}

/*.main-footer {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 3rem;
}*/

/*********************************
* HOME 
*********************************/

.wrapper-5050 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}

    .home {
        padding: 2vh 0;
    }

    .home .suscribe, .acerca-de .suscribe {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

/*********************************
* BLOG
*********************************/

.wrapper-7030 {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 5rem;
}



}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }



/* 
* https://webaim.org/techniques/css/invisiblecontent/
*/
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}