---
import { getCollection } from "astro:content";
import type { Page } from 'astro';
import type { CollectionEntry } from 'astro:content';

import BaseLayout from '@layouts/BaseLayout.astro';
import BlogLayout from '@layouts/BlogLayout.astro';
import PostMini from "@components/blog/PostMini.astro";
import Pagination from "@components/base/Pagination.astro";

export async function getStaticPaths({ paginate }: any) {
    const blogEntries = await getCollection('blog');
    const allTags = [...new Set(blogEntries.map((post) => post.data.tags).flat())];
  // For every tag, return a paginate() result.
  // Make sure that you pass `{params: {tag}}` to `paginate()`
  // so that Astro knows which tag grouping the result is for.
  return allTags.flatMap((tag) => {
    const filteredPosts: CollectionEntry<'blog'>[]= blogEntries.filter((post) => post.data.tags?.includes(tag))
    return paginate(filteredPosts, {
      params: { tag },
      pageSize: 5
    });
  });
}


export interface Props {
    page: Page,
    pageTitle: string,
    firstPath: string
}

const { page } = Astro.props;
const { tag } = Astro.params;
const pageTitle = tag;
const firstPath = "/blog/tags/" + tag;
---
<BaseLayout pageTitle= { pageTitle } wrapperClass="wrapper-7030 blog-tags">
    <BlogLayout>
      <h1>Posts etiquetados <strong>#{ tag }</strong>:</h1>
      
        { page.data.map((post: any) => 
            <PostMini post = { post } />
          )
        }

        {<Pagination 
            length={page.lastPage} 
            currentUrl={page.url.current} 
            currentPage={page.currentPage} 
            firstUrl={`${firstPath}`} 
            prevUrl={page.url.prev} 
            nextUrl={page.url.next} 
            lastUrl={`${firstPath}/${page.lastPage}`}
        />
        }

    </BlogLayout>
</BaseLayout>