---
import BaseLayout from "@layouts/BaseLayout.astro";
import SuscriptionBlock from "@components/blog/SuscriptionBlock.astro";


---
<BaseLayout pageTitle="Acerca de" wrapperClass="wrapper-5050 acerca-de">
    <main>
        <h1>Un poco de trasfondo:</h1>
        <h2>Sobre mí:</h2>

        <h2>Sobre el blog:</h2>


        <SuscriptionBlock />

    </main>
    <aside>
        <h2>A qué ando ahora <span>#now</span></h2>
    </aside>
</BaseLayout>