---
import BaseLayout from "@layouts/BaseLayout.astro";
import SuscriptionBlock from "@components/blog/SuscriptionBlock.astro";
import LastPosts from "@components/blog/LastPosts.astro";
---

<BaseLayout pageTitle="Un blog personal sobre desarrollo web y software libre" wrapperClass="wrapper-5050 home">
	
		<main>
			<h1>Hola, soy <span>senda</span> y acabas de llegar a mi web</h1>
			<section class="presentacion">
				<p>En este sitio hablo de desarrollo web, software libre, privacidad, y de cualquier cosa que nos ayude a recuperar la tecnología para las personas.</p>
			</section>

			<SuscriptionBlock />
			
		</main>

		<aside>
			<h2>Últimas entradas en el <a href="/blog">blog</a>:</h2>

			<LastPosts />
			
		</aside>
	
</BaseLayout>
