---
import MainNav from "@components/base/MainNav.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<header class="main-header">
    <a href="/" class="logo">senda<span>.</span>rocks</a>
    <ThemeSwitcher />
    <MainNav />
    
</header>
