---

---

<nav class="main-nav">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/blog/categorias">Categorias</a></li>
        <li><a href="/blog/tags">Tags</a></li>
        <li><a href="/acerca-de">Acerca de</a></li>
        <li><a href="rss.xml" class="rss" aria-labelledby="suscribeRSS">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-rss">
                <title id="suscribeRSS">Suscríbete al RSS</title>
                <path d="M4 11a9 9 0 0 1 9 9"/><path d="M4 4a16 16 0 0 1 16 16"/>
                <circle cx="5" cy="19" r="1"/>
            </svg>
          </a>  
    </ul>
</nav>