---

const { length, currentUrl, currentPage, firstUrl, prevUrl, nextUrl, lastUrl } = Astro.props;
//@ts-ignore
const paginationList = Array.from({length: `${length}` } , (_, i) => i + 1);
---

<nav class="pagination">
    <ul>
    { firstUrl == currentUrl ? (
        <li></li>
    ) : (
        <li><a class="primera-pagina" href={firstUrl}><span class="sr-only">Primera página</span></a></li>
    )}

    { prevUrl ? (
        <li><a class="anterior" href={prevUrl}><span class="sr-only">Anterior</span></a></li>
    ) : (
        <li></li>    
    )}
    
    {
        paginationList.map((num) => (
            <li>
                <a href={`${firstUrl}${num == 1 ? "" : '/'+(num)}`} class={`pagination__link ${currentPage == num    ? "disabled active" : ""}`}>
                {num}</a>
            </li>
        ))
    }

    { !nextUrl ? (
        <li></li>
    ) : (
        <li><a class="siguiente" href={nextUrl}><span class="sr-only">Siguiente</span></a></li>
    )}

    { lastUrl == currentUrl ? (
        <li></li>
    ) :     
    (
        length > 1 ? (
            <li><a class="ultima-pagina" href={lastUrl}><span class="sr-only">Última Página</span></a></li>
        ):
        (
            <li></li>
        )
        
        
    )}
    </ul>
</nav>