---
---

<button class="btn-toggle" id="btnToggle"><span class="sr-only">Toggle light/dark mode</span></button>

<script>
    document.addEventListener('astro:page-load', () => {
        const btn = document.querySelector(".btn-toggle");
        const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");

        const currentTheme = localStorage.getItem("theme");
        if (currentTheme == "dark") {
        document.body.classList.toggle("dark");
        } else if (currentTheme == "light") {
        document.body.classList.toggle("light");
        }

        btn.addEventListener("click", function () {
        if (prefersDarkScheme.matches) {
            document.body.classList.toggle("light");
            var theme = document.body.classList.contains("light")
            ? "light"
            : "dark";
        } else {
            document.body.classList.toggle("dark");
            var theme = document.body.classList.contains("dark")
            ? "dark"
            : "light";
        }
        localStorage.setItem("theme", theme);
        });
    })
</script>

<script>
    document.addEventListener('astro:after-swap', () => {
      localStorage.theme === 'dark'
      ? document.body.classList.add("dark")
      : document.body.classList.add("ligth");
    });
  </script>