---
import { getCollection } from "astro:content";

import type { CollectionEntry } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import BlogLayout from "@layouts/BlogLayout.astro";

const categoriasBlog: CollectionEntry<'categoria'>[] = await getCollection("categoria");
---

<BaseLayout pageTitle="Categorías" wrapperClass="archivo-categorias wrapper-7030">
    <BlogLayout>
        <h1>Categorías:</h1>

        <dl class="categorias-page">
            { categoriasBlog.map((cat) => 
                    <dt><a href={ "/blog/categorias/" + cat.id } class={ 'cat cat-big-' + cat.id }>{ cat.id }</a></dt> 
                    <dd>{ cat.data.descripcion }</dd>                    
                )
            }
        </dl>

    </BlogLayout>
    
</BaseLayout>