---
import { getCollection } from "astro:content";

const categoriasBlog = await getCollection("categoria");

---
<section class="categorias">
    <h3>Categorías:</h3>
    <ul>
        { categoriasBlog.map((cat: any) => 
                <li><a href={ "/blog/categorias/" + cat.id } class={ 'cat-big-' + cat.id }>{ cat.id }</a></li>
            )
        }
    </ul>
</section>