---
import type { CollectionEntry } from "astro:content";

import FormattedDate from "@components/base/FormattedDate.astro";
import Tag from "./Tag.astro";


interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const { Content } = await post.render();
/* https://docs.astro.build/en/recipes/reading-time/ */
const { remarkPluginFrontmatter } = await post.render();
const timeToRead = remarkPluginFrontmatter.minutesRead;
---

<article class="h-entry">
    <h1 class="p-name">{ post.data.titulo }</h1>
    <div class="post-meta">
        <FormattedDate date={ post.data.pubDate } className="dt-published" />
        <a class= {'cat cat-' + post.data.categoria.id } href= {'/categoria/' + post.data.categoria.id } rel="category">{ post.data.categoria.id }</a>
        <span class="tiempo-lectura"> { timeToRead } </span>
    </div>
    <div class="p-summary"> 
        <Fragment set:html={ post.data.descripcion } />
    </div>
    <div class="e-content">
        <Content />
    </div>
    <div>
        <h2 class="tags">Etiquetas:</h2> 
            <ul class="tags-list">
                {post.data.tags.map((tag: string) =>
                    <li><Tag tag = { tag } /></li>
                )
                }
            </ul>
    </div>
</article>

