---
import type { CollectionEntry } from 'astro:content';
interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
import FormattedDate from "@components/base/FormattedDate.astro";

/* https://docs.astro.build/en/recipes/reading-time/ */
const { remarkPluginFrontmatter } = await post.render();
const timeToRead = remarkPluginFrontmatter.minutesRead;
---

<article class="h-entry post-mini">
    <h2 class="p-name"><a href={'/blog/' + post.slug }>{ post.data.titulo }</a></h2>
    <div class="post-meta">
        <FormattedDate date={ post.data.pubDate } className="dt-published" />
        <a class= {'cat cat-' + post.data.categoria.id } href= {'/categoria/' + post.data.categoria.id } rel="category">{ post.data.categoria.id }</a>
        <span class="tiempo-lectura"> { timeToRead } </span>
    </div>
    <div class="p-summary"> 
        <Fragment set:html={ post.data.descripcion } />
    </div>
    <footer>
        <div><a href={'/blog/' + post.slug } class="seguir-leyendo">Seguir leyendo</a></div>
    </footer>                  
</article>