---
import { getCollection } from "astro:content";
import type { CollectionEntry } from 'astro:content';

interface Props {
    tag: string;
}

const { tag } = Astro.props;

const blogEntries: CollectionEntry<'blog'>[] = await getCollection('blog');
const postNumber: number = blogEntries.filter((post) => post.data.tags?.includes(tag)).length;
---

<a class = "tag" href={'/blog/tags/' + tag } rel="tag">#{ tag } <span>{ postNumber }</span></a> 