---
import { getCollection } from "astro:content";
import type { CollectionEntry } from 'astro:content';

import Tag from "@components/blog/Tag.astro";

const blogEntries: CollectionEntry<'blog'>[] = await getCollection('blog');
const tags = [...new Set(blogEntries.map((post) => post.data.tags).flat())];


---

<section class="tags-blog">
    <h3>Tags:</h3>
        <ul class="tags-list">
            { tags.map((tag: string) => 
                    <li><Tag tag={ tag } /></li>
                )
            }
        </ul>
</section>