---
import { getCollection } from "astro:content";
import type { CollectionEntry } from 'astro:content';

import BaseLayout from "@layouts/BaseLayout.astro";
import BlogLayout from "@layouts/BlogLayout.astro";

import Tag from "@components/blog/Tag.astro";

const blogEntries: CollectionEntry<'blog'>[] = await getCollection('blog');
const tags = [...new Set(blogEntries.map((post) => post.data.tags).flat())];

---

<BaseLayout pageTitle="Categorías" wrapperClass="archivo-categorias wrapper-7030">
    <BlogLayout>
        <h1>Tags:</h1>

        <ul class="tags-list">
            { tags.map((tag: string) => 
                    <li><Tag tag={ tag } /></li>
                )
            }
        </ul>

    </BlogLayout>
    
</BaseLayout>