---
import { getCollection } from 'astro:content';
import PostMini from '@components/blog/PostMini.astro';
import Pagination from '@components/base/Pagination.astro';

import type { CollectionEntry } from 'astro:content';
import type { GetStaticPaths, Page } from 'astro';

import BaseLayout from '@layouts/BaseLayout.astro';
import BlogLayout from '@layouts/BlogLayout.astro';
import Post from '@components/blog/Post.astro';
          
export const getStaticPaths = (async ({ paginate }:any) => {
  const categories: CollectionEntry<'categoria'>[]  = await getCollection('categoria');
  const blogEntries = await getCollection('blog');
  return categories.flatMap((categoria) => {
    const filteredPosts: CollectionEntry<'blog'>[]= blogEntries.filter((post:any) => post.data.categoria?.id.includes(categoria.id))
    return paginate(filteredPosts, {
      pageSize: 5,
      params: { 
        cat: categoria.id 
      },
      props: { categoria },
    });
});
  
}) satisfies GetStaticPaths;


export interface Props {
    page: Page,
    cat: string,
    categoria: CollectionEntry<'categoria'>,
    pageTitle: string,
    firstPath: string
}

const { page, categoria } = Astro.props;
const firstPath = "/blog/categorias/" + categoria.id;
---

<BaseLayout pageTitle={ categoria.id } wrapperClass='wrapper-7030 blog-cats'>
  <BlogLayout>
    <header>
    <h1 class="categorias-h1">{ categoria.id }</h1>
    <p class="categoria-descripcion"> { categoria.data.descripcion }</p>
    <p class="estas-aqui"> Página { page.currentPage } de { page.total }</p>
    </header>

    { page.data.map((post: any) => 
      <PostMini post = { post } />
      )
  }

  <Pagination 
      length={page.lastPage} 
      currentUrl={page.url.current} 
      currentPage={page.currentPage} 
      firstUrl={`${firstPath}`} 
      prevUrl={page.url.prev} 
      nextUrl={page.url.next} 
      lastUrl={`${firstPath}/${page.lastPage}`}
  />
  </BlogLayout>
</BaseLayout>