---
import '@styles/estilo.css';
import ViewTransitions from 'astro/components/ViewTransitions.astro';
import MainHeader from "@components/base/Header.astro";
import MainFooter from "@components/base/Footer.astro";

const siteTitle = "senda.rocks";

export interface Props {
    pageTitle: string,
    wrapperClass: string
}

const { pageTitle, wrapperClass }  = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="senda">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="color-scheme" content="dark light">
        <meta name="generator" content={ Astro.generator } />
		<title>{ siteTitle } - { pageTitle }</title>
        <ViewTransitions />
    </head>
    <body>
        <!-- skiplinks -->
        <a href="#main" class="skip">Saltar al contenido</a>
        <MainHeader />
        <div class= { wrapperClass }>
            <slot />
        </div>
        <MainFooter />
    </body>
</html>