---
import SuscriptionBlock from "@components/blog/SuscriptionBlock.astro";
import CategoriasBlog from "@components/blog/CategoriasBlog.astro";
import TagsBlog from "@components/blog/TagsBlog.astro";
---


<main>
    <slot />
</main>
<aside class="sidebar">
    <SuscriptionBlock />

    <CategoriasBlog />

    <TagsBlog />

</aside>